/* v1_5 */

.board {
    border-collapse:collapse;
}
.board caption {
    caption-side:bottom;
    margin-top: 10px;
}
.board caption div {
    display: inline-block;
    text-align: left;
}
.board td {
    position:relative;
    border:1px solid #666!important;
    text-align:center;
    font-size:18px;
    width:40px; height:40px; line-height:18px;
    padding:0px;
}
.board tr:first-child td {
    border-top:4px solid #666!important;
}
.board tr:nth-of-type(3n) td {
    border-bottom:4px solid #666!important;
}
.board td:first-child {
    border-left:4px solid #666!important;
}
.board td:nth-of-type(3n) {
    border-right:4px solid #666!important;
}
.board td span {
    display:inline-block;
    font-size:10px;
    width:12px; height:12px; line-height:12px;
    padding:0px;
}
.board td br {
    width:1px; height:12px;
    padding:0px;
}
.hide {
    visibility:hidden;
}

/* Pale tone */
.bg_1 {background-color: #F5B090;} /* fst */
.bg_2 {background-color: #FCD7A1;} /* snd */
.bg_3 {background-color: #FFF9B1;}
.bg_4 {background-color: #D7E7AF;}
.bg_5 {background-color: #A5D4AD;}
.bg_6 {background-color: #A2D7D4;}
.bg_7 {background-color: #9FD9F6;}
.bg_8 {background-color: #A3BCE2;}
.bg_9 {background-color: #A59ACA;}
.bg_a {background-color: #CFA7CD;}
.bg_b {background-color: #F4B4D0;} /* com */
.bg_c {background-color: #F5B2B2;}

.fst {
    color: red;
}
.snd {
    color: blue;
}
.com {
    color: hotpink;
}
.bg_goal {
    background-color: #F4B4D0;
}
.bg_mix {
    background-image: linear-gradient(to bottom right,
        #F5B090 0%, #F5B090 50%, #FCD7A1 50%, #FCD7A1 100%);
}
.bg_fst {
    background-image: linear-gradient(to bottom right,
        #F5B090 0%, #F5B090 50%, white 50%, white 100%);
}
.bg_snd {
    background-image: linear-gradient(to bottom right,
        white 0%, white 50%, #FCD7A1 50%, #FCD7A1 100%);
}
.bg_com {
    background-color: #F4B4D0;
}
.left {
    margin-left: -10px;
}
.btn {
  position: relative;
  padding: 0.2em 0.5em;
  border: 0;
  border-radius: 0.2em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn:active, .active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}
